<div class="wrapper">
  <div class="main-header">
    <div class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand">Previsão do tempo</span>
        </div>
      </div>
    </div>
  </div>

  <div class="content-wrapper">
    <!-- First box - Choose a state and city -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <strong class="box-title">Escolha um estado e uma cidade</strong>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-4 col-sm6 col-xs-12">
                  <div class="form-group">
                    <!-- State select -->
                    <label>Estado</label>
                    <select id="states" class="form-control" ng-model="vm.selectedState" ng-options="state.name for state in vm.states | orderBy: 'name'">
                      <option value="">Selecione um estado</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4 col-sm6 col-xs-12">
                  <div class="form-group">
                    <!-- City select -->
                    <label>Cidade</label>
                    <select id="cities" class="form-control" ng-model="vm.selectedCity" ng-options="city.name for city in (vm.cities | filter: { state : vm.selectedState.id })">
                      <option value="">Selecione uma cidade</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4 col-sm6 col-xs-12">
                  <div class="text-center">
                      <!-- Search button -->
                      <a class="btn btn-app" ng-click="vm.getWeatherData(vm.selectedCity)"><i class="fa fa-search"></i>Pesquisar</a>
                      <!-- Favourite button -->
                      <a class="btn btn-app" ng-click="vm.saveFavourite(vm.selectedState, vm.selectedCity)"><i class="fa fa-star"></i>Favorito</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Second box - Displays the forecasts -->
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm6 col-xs-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <strong class="box-title">Previsão para os próximos dias</strong>
            </div>
            <div class="box-body">
              <div class="row">
                <div ng-repeat="forecast in vm.forecasts">
                  <div class="col-md-4 col-sm6 col-xs-12">
                    <div class="box box-widget widget-user">
                      <div class="widget-user-header bg-aqua-active">
                        <p class="widget-user-username" ng-bind="(forecast.date * 1000 | date: 'EEE, d, MMM')"></p>
                      </div>
                      <div class="box-footer temp-color" >
                        <div class="row">
                          <div class="col-sm-6 border-right">
                            <div class="description-block">
                              <p class="description-header">Mín</p>
                              <span class="description-text" ng-bind="(forecast.tempMin) + '°C'"></span>
                            </div>
                          </div>
                          <div class="col-sm-6 border-right">
                            <div class="description-block">
                              <p class="description-header">Máx</p>
                              <span class="description-text" ng-bind="(forecast.tempMax) + '°C'"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="overlay" ng-show="vm.loadingData">
              <i class="fa fa-refresh fa-spinner fa-pulse"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Third box - Displays the highest and lowest temperature -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm6 col-xs-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <p class="box-title"><strong>Temperatura máx e mín (7 dias)</strong></p>
            </div>
            <div class="box-body">
              <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-chevron-up fa-2x"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text"><strong>Máxima</strong></span>
                  <span class="info-box-text" ng-bind="(vm.tempMax) + '°C'"></span>
                  <span class="info-box-text"><strong>Data</strong></span>
                  <span class="info-box-text" ng-bind="(vm.dateMax * 1000 | date: 'EEE, d, MMM')"></span>
                </div>
              </div>
              <div class="info-box">
                <span class="info-box-icon bg-blue"><i class="fa fa-chevron-down fa-2x"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text"><strong>Mínima</strong></span>
                  <span class="info-box-text" ng-bind="(vm.tempMin) + '°C'"></span>
                  <span class="info-box-text"><strong>Data</strong></span>
                  <span class="info-box-text" ng-bind="(vm.dateMin * 1000 | date: 'EEE, d, MMM')"></span>
                </div>
              </div>
            </div>
            <div class="overlay" ng-show="vm.loadingData">
              <i class="fa fa-refresh fa-spinner fa-pulse"></i>
            </div>
          </div>
        </div>

        <!-- Fourth box - Displays the recommendation -->
        <div class="col-md-4 col-sm6 col-xs-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <p class="box-title"><strong>Recomendação para ir à praia</strong></p>
            </div>
            <div class="box-body">
              <div class="description-block">
                <p class="description-header">{{ vm.recommendationText}}</p>
                <i class="fa fa-thumbs-o-up fa-5x fa-cog" ng-show='vm.recommendation'></i>
                <i class="fa fa-thumbs-o-down fa-5x fa-cog" ng-hide='vm.recommendation'></i>
              </div>
            </div>
            <div class="overlay" ng-show="vm.loadingData">
              <i class="fa fa-refresh fa-spinner fa-pulse"></i>
            </div>
          </div>
        </div>

        <!-- Fifth box - Diplays the temperature chart -->
        <temperature-chart></temperature-chart>
      </div>
    </div>
  </div>
</div>
