<div class="wrapper">
  <div class="main-header">
    <div class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand">Previsão do tempo</span>
        </div>
      </div>
    </div>
  </div>

  <div class="content-wrapper">
    <!-- First box - Choose a state and city -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">
              <strong class="box-title">Escolha um estado e uma cidade</strong>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-4 col-sm6 col-xs-12">
                  <div class="form-group">
                    <!-- State select -->
                    <label>Estado</label>
                    <select id="states" class="form-control" ng-model="vm.selectedState" ng-options="state.name for state in vm.states | orderBy: 'name'">
                      <option value="">Selecione um estado</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4 col-sm6 col-xs-12">
                  <div class="form-group">
                    <!-- City select -->
                    <label>Cidade</label>
                    <select id="cities" class="form-control" ng-model="vm.selectedCity" ng-options="city.name for city in (vm.cities | filter: { state : vm.selectedState.id })">
                      <option value="">Selecione uma cidade</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4 col-sm6 col-xs-12">
                  <center>
                      <!-- Search button -->
                      <a class="btn btn-app" ng-click="vm.getWeatherData(vm.selectedCity)"><i class="fa fa-search"></i>Pesquisar</a>
                      <!-- Favourite button -->
                      <a class="btn btn-app" ng-click="vm.saveFavourite(vm.selectedState, vm.selectedCity)"><i class="fa fa-star"></i>Favorito</a>
                  </center>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Second box - Displays the forecasts -->
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm6 col-xs-12">
          <div class="box box-info">
            <div class="box-header with-border">
              <strong class="box-title">Previsão para os próximos dias</strong>
            </div>
            <div class="box-body">
              <div class="row">
                <div ng-repeat="forecast in vm.forecasts">
                  <div class="col-md-4 col-sm6 col-xs-12">
                    <div class="box box-widget widget-user">
                      <div class="widget-user-header bg-aqua-active">
                        <p class="widget-user-username" ng-bind="(forecast.date * 1000 | date: 'EEE, d, MMM')")></p>
                      </div>
                      <div class="box-footer temp-color" >
                        <div class="row">
                          <div class="col-sm-6 border-right">
                            <div class="description-block">
                              <p class="description-header">Mín</p>
                              <span class="description-text" ng-bind="forecast.tempMin"></span>
                            </div>
                          </div>
                          <div class="col-sm-6 border-right">
                            <div class="description-block">
                              <p class="description-header">Máx</p>
                              <span class="description-text" ng-bind="forecast.tempMax"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
