<div class="col-md-4 col-sm6 col-xs-12">
  <div class="box box-primary">
    <div class="box-header with-border">
      <p class="box-title"><strong>Gráfico de variação de temperatura (7 dias)</strong></p>
    </div>
    <div class="box-body">
      <div class="chart">
        <canvas height="125" width="394" id="temperature-chart" style="height: 125px; width: 394px;"></canvas>
      </div>
    </div>
    <!-- TODO: Access vm.loadingData from weather's controller -->
    <div class="overlay" ng-show="vm.loadingData">
      <i class="fa fa-refresh fa-spinner fa-pulse"></i>
    </div>
  </div>
</div>
